In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load data
df = pd.read_excel('../data/raw/Telco_customer_churn_adapted_v2.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Customer ID                   7043 non-null   int64
 1   Tenure Months                 7043 non-null   int64
 2   Location                      7043 non-null   object
 3   Device Class                  7043 non-null   object
 4   Games Product                 7043 non-null   object
 5   Music Product                 7043 non-null   object
 6   Education Product             7043 non-null   object
 7   Call Center                   7043 non-null   object
 8   Video Product                 7043 non-null   object
 9   Use MyApp                     7043 non-null   object
 10  Payment Method                7043 non-null   object
 11  Monthly Purchase (Thou. IDR)  7043 non-null   float64
 12  Churn Label                   7043 non-null   object
 13  Longitude                     7043 non-null   float64
 14  Latitude                      7043 non-null   float64
 15  CLTV (Predicted Thou. IDR)    7043 non-null   float64
dtypes: float64(4), int64(2), object(10)
memory usage: 880.5+ KB

In [3]:
df.head()

,Customer ID,Tenure Months,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR),Churn Label,Longitude,Latitude,CLTV (Predicted Thou. IDR)
0,0,2,Jakarta,Mid End,Yes,Yes,No,No,No,No,Digital Wallet,70.005,Yes,106.816666,-6.2,4210.7
1,1,2,Jakarta,High End,No,No,No,No,No,No,Pulsa,91.910,Yes,106.816666,-6.2,3511.3
2,2,8,Jakarta,High End,No,No,Yes,No,Yes,Yes,Pulsa,129.545,Yes,106.816666,-6.2,6983.6
3,3,28,Jakarta,High End,No,No,Yes,Yes,Yes,Yes,Pulsa,136.240,Yes,106.816666,-6.2,6503.9
4,4,49,Jakarta,High End,No,Yes,Yes,No,Yes,Yes,Debit,134.810,Yes,106.816666,-6.2,6942.0

# Data Cleaning

In [4]:
# Check Missing Value
df.isna().sum()

Customer ID                     0
Tenure Months                   0
Location                        0
Device Class                    0
Games Product                   0
Music Product                   0
Education Product               0
Call Center                     0
Video Product                   0
Use MyApp                       0
Payment Method                  0
Monthly Purchase (Thou. IDR)    0
Churn Label                     0
Longitude                       0
Latitude                        0
CLTV (Predicted Thou. IDR)      0
dtype: int64

No Missing Value

In [5]:
# Drop Unimportant Information
for c in df.columns:
    print(f"{c} has {len(df[c].unique())} unique value/s")

Customer ID has 7043 unique value/s
Tenure Months has 73 unique value/s
Location has 2 unique value/s
Device Class has 3 unique value/s
Games Product has 3 unique value/s
Music Product has 3 unique value/s
Education Product has 3 unique value/s
Call Center has 2 unique value/s
Video Product has 3 unique value/s
Use MyApp has 3 unique value/s
Payment Method has 4 unique value/s
Monthly Purchase (Thou. IDR) has 1585 unique value/s
Churn Label has 2 unique value/s
Longitude has 2 unique value/s
Latitude has 2 unique value/s
CLTV (Predicted Thou. IDR) has 3438 unique value/s

1. `Customer ID` doesn't contribute useful information to project.
2. `Location` and `Longitude`, `Latitude` have the same meaning which refers to location. But we will keep it so that we will be flexible in using either `Location` or `Longitude`, `Latitude`.

In [6]:
df = df.drop(columns=['Customer ID'])

In [8]:
# Check Duplicate Values
df[df.duplicated()]

Empty DataFrame
Columns: [Tenure Months, Location, Device Class, Games Product, Music Product, Education Product, Call Center, Video Product, Use MyApp, Payment Method, Monthly Purchase (Thou. IDR), Churn Label, Longitude, Latitude, CLTV (Predicted Thou. IDR)]
Index: []

No Duplicate Values

In [10]:
# Drop Unimportant Information
for c in df.columns:
    print(f"{c} has {df[c].unique()} unique value/s")

Tenure Months has [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72
  0] unique value/s
Location has ['Jakarta' 'Bandung'] unique value/s
Device Class has ['Mid End' 'High End' 'Low End'] unique value/s
Games Product has ['Yes' 'No' 'No internet service'] unique value/s
Music Product has ['Yes' 'No' 'No internet service'] unique value/s
Education Product has ['No' 'Yes' 'No internet service'] unique value/s
Call Center has ['No' 'Yes'] unique value/s
Video Product has ['No' 'Yes' 'No internet service'] unique value/s
Use MyApp has ['No' 'Yes' 'No internet service'] unique value/s
Payment Method has ['Digital Wallet' 'Pulsa' 'Debit' 'Credit'] unique value/s
Monthly Purchase (Thou. IDR) has [ 70.005  91.91  129.545 ... 140.855  82.03  102.31 ] unique value/s
Churn Label has ['Yes' 'No'] unique value/s
Longitude has [106.816666 107.60981 ] unique value/s
Latitude has [-6.2      -6.914744] unique value/s
CLTV (Predicted Thou. IDR) has [4210.7 3511.3 6983.6 ... 3601.  6038.5 7218.9] unique value/s

All values have the same format and consistent

In [11]:
df.to_csv("../data/processed/Telco_customer_churn_adapted_v2_cleaned.csv", index=False)